<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url("/static/css/profile/style.css");
        @import url("/static/css/profile/scrollbar.css");
        @import url("/static/css/profile/payment_box2.css");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
</head>

<body>
    <% include ./header.ejs %>
    <div class="profile_header"></div>
    <div class="wrap">
        <div class="main_content_wrap">
            <div class="user_data_wrap">
                <div class="profile_icon_wrap">
                    <img class="profile_icon" src="<%= user_icon %>" />
                </div>
                <span class="profile_username">
                    <%= username %>
                </span>
                <span class="profile_description">
                    <%= short_status %>
                </span>
                <div class="tag_wrap">
                    <div class="tag_div">#개발자</div>
                </div>
            </div>
            <p style="margin-left: 40px;font-weight: bold;font-size: 25px;"><%= username %> 님 후원하기</p>
            <div class="payment_wrap">
                <% if(kakao_url !== "0" ) { %>
                <div class="item_wrap" id="item_wrap_kakao">
                    <span class="item_title" id="item_title_kakao">카카오 QR</span>
                    <img id="item_qr" src="<%= kakao_url_img %>" />
                    <span style="margin: 20px;">혹은</span>
                    <span class="item_link_wrap" onclick="copy_text('<%= kakao_url %>')"><%= kakao_url %></span>
                </div>
                <% } %>
                <% if(toss_url !== "0") { %>
                <div class="item_wrap" id="item_wrap_toss">
                    <span class="item_title" id="item_title_toss">토스 아이디</span>
                    <img id="item_qr" src="<%= toss_url_img %>" />
                    <span style="margin: 20px;">혹은</span>
                    <div class="item_link_wrap" onclick="copy_text('<%= toss_url %>')"><%= toss_url %></div>
                </div>
                <% } %>
                <% if(paypal_url !== "0") { %>
                <div class="item_wrap" id="item_wrap_paypal">
                    <span class="item_title" id="item_title_paypal">페이팔 링크</span>
                    <img id="item_qr" src="<%= kakao_url_img %>" />
                    <span style="margin: 20px;">혹은</span>
                    <div class="item_link_wrap" onclick="copy_text('<%= paypal_url %>')"><%= paypal_url %></div>
                </div>
                <% } %>
            </div>
            <p style="margin-left: 40px;margin-top: 50px;font-weight: bold;font-size: 25px;"><%= username %> 님의 소개글</span>
            <div class="information_wrap">
                <% if(introduce !== "0") { %>
                    <span class="introduce">
                        <%= introduce %>
                    </span>
                    <% } else { %>
                        <span class="introduce">
                            소개글이 없습니다 (；☉_☉)
                        </span>
                        <% } %>
            </div>
    </div>

    <script>
        var kakao = false, toss = false, paypal = false;
        const clipboard = navigator.clipboard
        function togle_payment(method) {
            document.getElementById(method).style.display === 'flex' ? document.getElementById(method).style.display = 'none' : document.getElementById(method).style.display = 'flex';
            switch (method) {
                case 'kakao':
                    kakao = !kakao;
                    kakao ? document.getElementById("kakao_button").className = "bottom_icon_top" : document.getElementById("kakao_button").className = "bottom_icon"
                    break;
                case 'toss':
                    toss = !toss;
                    toss ? document.getElementById("toss_button").className = "bottom_icon_top" : document.getElementById("toss_button").className = "bottom_icon"
                    break;
                case 'paypal':
                    paypal = !paypal;
                    paypal ? document.getElementById("paypal_button").className = "bottom_icon_top" : document.getElementById("paypal_button").className = "bottom_icon"
                    break;
            }
        }

        function copy_text(text) {
            clipboard.writeText(text).then(function () {
                window.alert(text + ' 가 복사되었습니다')
            })
        }
    </script>
</body>

</html>